* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: rgb(207, 196, 196);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container h1 {
    text-align: center;
    color: blue;
}

.pegar-cep {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.resultado {
    display: flex;
    justify-content: center;
}